name: Deploy to Home Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Deploy Docker
        run: |
          cp $HOME/app/laravue-portofolio/.env .production/.env
          
          docker compose -f .production/docker-compose.yml down --remove-orphans
          docker compose -f .production/docker-compose.yml up -d --build
          
          sleep 5
          
          docker compose -f .production/docker-compose.yml exec -T app php artisan migrate --force
          
          docker image prune -f