name: Deploy to Home Server

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Deploy Docker
        run: |
          docker compose build --pull
          
          docker compose up -d --remove-orphans
          
          docker compose exec -T app php artisan migrate --force
          docker compose exec -T app php artisan optimize
          
          docker image prune -f