name: Deploy to Production

on:
  push:
    branches: [ "main" ]

env:
  # Ganti dengan nama image yang kamu mau
  # Format: ghcr.io/username-github/nama-repo
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tag: production
          version: latest

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          # Pastikan path ini sesuai dengan lokasi Dockerfile production kamu
          file: ./.production/Dockerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USERNAME }}
          key: ${{ secrets.PROD_SSH_KEY }}
          port: 22
          timeout: 30s
          command_timeout: 30m
          script: |
            # 1. Login ke GHCR di dalam server (supaya bisa pull)
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            # 2. Masuk ke folder project
            mkdir -p ~/app/laravue-portofolio
            cd ~/app/laravue-portofolio

            # 3. Pull image terbaru
            docker compose pull

            # 4. Restart container (Update aplikasi)
            docker compose up -d

            # 5. Jalankan migrasi database (Opsional, hapus jika tidak perlu otomatis)
            docker compose exec -T app php artisan migrate --force

            # 6. Bersihkan image lama biar disk gak penuh
            docker image prune -f